<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rusel.RCTBluetoothSerial">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

</manifest>